.docker/volumes/

**/node_modules
**/.turbo
**/tsconfig.tsbuildinfo
**/dist
**/.env
**/.env.local
**/.env.development
**/.env.production
!.env.example
**/.idea
**/.pnpm-store

/tmp
**/*.d.ts

forks/**
examples/**